* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 4306px;
    font-family: sans-serif;
    color: black;
    background-color: #ffffff;
}

a {
    background-color: #ffffff;
    text-decoration: none;
}


.navbar-box {
    width: 100%;
    height: 142px;
    margin: 0 auto;  
    padding: 0 45px;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 218px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #ffffff;
    font-size: 22px;
    font-weight: 600;

}

.logo:hover {
    color: #ffffff;
    background-color: #17212b;
}


.nav-links {
    display: flex;
    gap: 12px;
}

.nav-links a {
    min-width: 114px;
    height: 58px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #ffffff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ffffff;
    background-color: #17212b;
}

.homePage{
    width: 100%;
    height: 582;
    top: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 90px 50px;
}

.leftBox{
    width: 513px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #ededed;
    
}
.rightBox{
    width: 286px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
     background-color: #ededed;
    border-radius: 47px;    
}
.homePage button{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 12px 30px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 200px;
    cursor: pointer;
    
}

.Companies-box{
   background-color: #d6d6d6;
   width: 1440px;
   height: 296;
   top: 724;
   border: 1px;
}

.Companies-box h2{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.companiesArticle{
    display: flex;
    gap: 20px;
    justify-content: space-around;

}
article h5{
    display: flex;
    align-items: center;
    margin: 0px auto;
}
article{
    display: flex;
    width: 138.27px;
    height: 110px;
    top: 850px;
    color: #17212b;
    background-color: white;
    padding: 20px;
    margin: 20px;
}
